<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> About Us </title>
</head>
<body>
    <h1> Acerca de Nosotros </h1>
    <div>
        La institución de Bomberos Voluntarios de Gral. José de San Martín, es una asociación sin fines de lucro, 
        fundada el 30 de diciembre de 2019; por miembros de la comunidad, rectificada por Resol. N°563-Matricula N°3557 
    </div>
    <h1> ORIGEN - HISTORIA </h1>
    <div>
        Muchos de los extranjeros que arribaron a nuestras costas se instalaron en la actual Ciudad Autónoma de Buenos Aires. 
        El barrio de La Boca del Riachuelo, como tantos otros, comenzó a recibir el flujo de estos inmigrantes, principalmente de origen italiano. 
        En este contexto de rápido crecimiento demográfico urbano surgirían las primeras organizaciones de bomberos voluntarios en las calles de Buenos Aires, 
        ntegradas por ciudadanos dispuestos a colaborar como gesto de solidaridad social. Muchos de estos inmigrantes vivían en 
        condiciones sanitarias deficientes, con elevados niveles de hacimiento y en estructuras en permanente riesgo de sufrir incendios o derrumbes. 
        La conformación de las primeras asociaciones de bomberos voluntarios fue la respuesta adaptativa de los vecinos organizados frente a dificultades
        y peligros concretos que enfrentaban a diario.
        Un incendio producido en los primeros meses del año 1884, precisamente en una casa del barrio de La Boca, llevó al vecino Tomás Liberti
         a dar los primeros pasos hacia la formación de una sociedad cuyo principal objeto fuera el sostenimiento de una asociación de bomberos. 
         En aquellos tiempos, las construcciones de la ciudad estaban conformadas en su mayoría por materiales inflamables, lo que constituía un 
         continuo y serio peligro para la población.
        Conmovido por este episodio, Liberti hizo circular una invitación, escrita en italiano, que decía: «Ciudadanos: una chispa podría 
        desarrollar un voraz incendio que reduciría a cenizas nuestras habitaciones de madera. Tenemos necesidad de una Sociedad de Bomberos 
        que en los momentos de peligro salven nuestros bienes y a nuestras familias. Con tal motivo invitamos a la reunión que tendrá lugar 
        el domingo p.v. a las 3 p.m. en el ateneo Iris. ¡Conciudadanos! La idea iniciada por pocos tiene necesidad de todos vosotros y 
        de vuestro válido apoyo, y tendremos el orgullo de haber constituido una Asociación filantrópica. El domingo entonces, en el ateneo Iris, 
        que nadie falte».
        La reunión se llevó a cabo el domingo 2 de junio de 1884, y allí se sentaron las bases para formar la Asociación Italiana de Bomberos 
        Voluntarios de La Boca. Es por ello que esta fecha quedó consagrada en nuestro país como el Día del Bombero Voluntario 
        (establecido oficialmente en la Ley N.° 25425, publicada el 15 de mayo de 2001).
        Una vez constituida la sociedad bajo la presidencia de su iniciador Tomás Liberti, se realizó una suscripción para recaudar 
        fondos y se estableció la primera sede social en el barrio de La Boca. Este primer cuerpo de bomberos voluntarios recibió su 
        bautismo del fuego el 14 de noviembre de 1885 en un incendio que se desató en una fábrica de velas en Barracas sur. 
        Poco tiempo después, colaborarían eficazmente con el cuerpo de bomberos de la Policía en el gran incendio de los depósitos 
        aduaneros fiscales de “Las Catalinas”, en marzo de 1886.
        A partir de ese momento y de manera progresiva fueron constituyéndose distintas sociedades de bomberos voluntarios a lo largo y a 
        lo ancho del territorio argentino, haciendo cada vez más imperiosa la necesidad de aumentar los niveles de articulación y 
        coordinación entre las distintas organizaciones ya existentes y las que se irían creando.   
    </div>
    <h1> MISIÓN </h1>
    <div>
        Proteger la vida, el ambiente y el patrimonio del municipio de General Jose de San Martín Chaco, 
        mediante la atención y gestión del riesgo en incendios, rescates, y otras emergencias, de manera segura, 
        eficiente, con sentido de responsabilidad social, fundamentadas en la excelencia institucional del talento humano.
    </div>
    <h1> VISIÓN </h1>
    <div>
        Para el año 2028 la Asociación de Bomberos Voluntarios de General San Martín 
        contará con equipamientos de última tecnología, vehículos nuevos y un espacio físico propio 
        donde nos permitirá mejorar la prestación del servicio.
    </div>
</body>
</html>